@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  letter-spacing: 0.055em;
  background-color: $color-gray-light;

  @include lg-min {
    padding-top: $gap-x5;
    padding-bottom: 82px;
  }

  @include lg-md {
    padding-top: $gap-x4;
    padding-bottom: 64px;
  }

  @include md {
    padding-top: $gap-x3;
    padding-bottom: 44px;
  }

  @include sm {
    padding-top: $gap-x3;
    padding-bottom: 59px;
  }

  &__container {
    max-width: $ul;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;
    display: grid;

    @include lg-min {
      gap: $gap-x5;
      grid-template-columns: 1fr 271px;
    }

    @include lg-md {
      gap: $gap-x2;
      grid-template-columns: 1fr 271px;
    }

    @include md-sm {
      gap: $gap;
      grid-template-columns: 1fr 236px;
    }

    @include sm {
      gap: $gap;
      grid-template-columns: 1fr;
    }
  }

  &__content {
    & h2 {
      letter-spacing: 0.1em;
      color: #2d3651;
      font-family: "Roboto Slab", serif;
      line-height: 1.2em;
    }
    
    & p {
      @include lg-min {
        font-size: 1.125rem;
      }
    }

    & p:first-of-type {
      position: relative;
      margin-top: -5px;
    }

    & p:first-of-type::after {
      position: absolute;
      top: 0;
      width: 2px;
      height: 200px;
      content: "";
      background-color: rgba(99, 117, 136, 0.1);

      @include lg-min {
        right: -50px;
      }

      @include lg-md {
        right: -20px;
      }

      @include md-sm {
        right: -10px;
      }

      @include sm {
        display: none;
      }
    }

    & p {
      @include lg-min {
        font-size: 1.125rem;
      }
    }
  }

  &__img {
    display: grid;
    align-content: center;
    justify-items: center;

    & img {
      max-width: 100%;
      max-height: 480px;
      margin-top: -15px;
    }
  }

  & h2 {
    margin-top: 0;

    @include lg-min {
      margin-bottom: 3rem;
      font-size: 2.5rem;
    }

    @include lg-md {
      margin-bottom: 2.625rem;
      font-size: 2rem;
    }

    @include md {
      margin-bottom: 2.25rem;
      font-size: 1.5rem;
    }

    @include sm {
      text-align: center;
    }
  }
}
